<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">
      
	<body>
		<div layout:fragment="content">
			<div class="card">
            	<div class="card-body">
            		<th:block th:if="${form.esCreacion()}">
						<div th:replace="fragments/page-header-title.html :: page-header(#{adm.user.create.title})"></div>
            		</th:block>
            		<th:block th:unless="${form.esCreacion()}">
            			<div th:replace="fragments/page-header-title.html :: page-header(#{adm.user.edit.title(${form.id})})"></div>
            		</th:block>
            		
		
					<form id="userFrm" th:object="${form}" th:action="@{/adm/users/save}" method="post" class="forms-sample">
						<div class="form-group row">
                        	<label for="exampleInputEmail2" class="col-sm-3 col-form-label" th:text="#{email.field}"></label>
                        	<div class="col-sm-9">
                          		<input id="email" type="email" th:field="*{email}" th:class="'form-control' +  ${#fields.hasErrors('email') ? ' is-invalid' : ''}" placeholder="Email" required="required">
                          		<div id="email-err" class="feedback invalid-feedback" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></div>
                        	</div>
                      	</div>
                      
                        <input id="id" type="hidden" th:field="*{id}">
                      
						<button id="createBtn" type="submit" th:text="#{save.btn}" class="btn btn-primary me-2"></button>
                      	<button id="cancelBtn" type="button" class="btn btn-dark" th:text="#{cancel.btn}" onclick="$('#cancelFrm').submit();"></button>			
					</form>	
					
					<form id="cancelFrm" th:action="@{/adm/users}" method="get"></form>
				</div>
			</div>		
		</div>
	</body>
</html>