<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">
  
	  
	<body>
		<div layout:fragment="content">
			<div th:replace="fragments/page-header-title.html :: page-header(#{home.header.title})"></div>
		
			<div class="row">
              	<div class="col-lg-12 grid-margin">
						<form id="messageFrm" th:object="${msgForm}" th:action="@{/message/add}" method="post" class="forms-sample">
							<input id="idMsg" th:field="*{id}" type="hidden" />
							<button type="submit">Agregar mensaje</button>
						</form>		
				</div>
			</div>
		</div>
	</body>
</html>