<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
  
	<head>
		<meta charset="utf-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	    <title th:text="#{app.title}"></title>

	    <link rel="stylesheet" href="/css/materialdesignicons.min.css">
	    <link rel="stylesheet" href="/css/vendor.bundle.base.css">
	    <link rel="stylesheet" href="/css/style.css">
	    <link rel="shortcut icon" href="/images/favicon.png" />
	 </head>
	 
  	<body>
    	<div class="container-scroller">
      		<div th:replace="fragments/sidebar.html :: sidebar"></div>
      		
      		<div class="container-fluid page-body-wrapper">
				<div th:replace="fragments/topbar.html :: topbar"></div>
		
        		<div class="main-panel">
        			<div layout:fragment="content" class="content-wrapper"></div>

        			<div th:replace="fragments/footer.html :: footer"></div>
       			</div>
      		</div>
    	</div>
    	
   		<script src="/js/jquery-3.4.1.js"></script>
    	<script src="/js/off-canvas.js"></script>
    	<script src="/js/hoverable-collapse.js"></script>
    	<script src="/js/misc.js"></script>
    	<script src="/js/settings.js"></script>
	</body>
</html>